# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.terraform/*
.tfstate*
terraform/devel/.terraform.lock.hcl
terraform/devel/.terraform.tfstate.lock.info
terraform/devel/terraform.tfstate
terraform/devel/terraform.tfstate.backup
.gitignore
terraform/devel/.terraform/providers/registry.terraform.io/hashicorp/aws/6.5.0/darwin_arm64/LICENSE.txt
terraform/devel/.terraform/modules/modules.json
.gitignore
terraform/devel/.terraform/providers/registry.terraform.io/hashicorp/aws/6.5.0/darwin_arm64/terraform-provider-aws_v6.5.0_x5
